MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/invoices?retryWrites=true&w=majority
APP_ANTHROPIC_API_KEY=sk-ant-...
AISENSY_TEMPLATE_API_ENABLED=false
AISENSY_PROJECT_API_KEY=
AISENSY_TEMPLATE_CREATE_URL=
AISENSY_TEMPLATE_STATUS_URL=
